<section class="product_list section_padding">
 <div class="container">
     <div class="row">
         <div class="col-md-8">
             <div class="product_list">
                 <div class="row">
                     <div *ngFor="let produto of produtos" class="col-lg-6 col-sm-6">
                         <div class="single_product_item">
                             <img [src]="produto.imagem" alt="#" class="img-fluid">
                             <h3> <a href="single-product.html">{{ produto.nome}}
                             car office nap pillow</a> </h3>
                             <p>{{ produto.preco }}</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</section>